*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.login_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    color: white;
}
.login_page>div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.login_page>div>form{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.login_page>div>form>input{
    margin: 0 0 20px;
    min-height: 24px;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px 10px;
    min-width: 250px;
}
.login_page>div>form>button{
    min-height: 24px;
    border-radius: 8px;
    font-size: 24px;
    min-width: 250px;
}
.login_page>div>h1{
    font-size: 36px;
    margin: 0 0 20px;
}
.not_found{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fafafa;
    background: #313131;
    align-items: center;
    justify-content: center;
}
.admin_item_panel{
    position: absolute;
    top:0;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background: #313131;
    color: #fafafa;
    padding: 30px;
    font-size: 22px;
}
.admin_item_panel>.admin_exit_button{
    position: absolute;
    top:25px;
    right:120px;
}
.admin_item_panel>input{
    width: 30%;
    margin: 10px;
}
.admin_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25%;
    padding: 0 0 15px;
    border: 1px solid #313131;
}
.admin_content>div{
    margin: 5px;
    padding: 10px;
    font-size: 22px;
}
.admin_content>div>button{
    margin: 10px;
    border-radius: 8px;
    font-size: 26px;
}
.admin_content>div>button.active{
    color: #fafafa;
    background: #313131;
}
.admin_content_tags{
    background: #313131;
    color: white;
}
.admin_content>div>div{
    display: flex;
    align-items: center;
}
.admin_content>div>div>button{
    font-size: 20px;
    border-radius: 8px;
    margin: 0 5px;
}
.admin_content>div>div>p{
    min-width: 100px;
}
.admin_header_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.admin_header_buttons>button{
    margin: 10px;
    border-radius: 8px;
    font-size: 26px;
}
.admin_exit_button{
    margin: 10px;
    border-radius: 8px;
    font-size: 26px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0 150px;
    width: 100%;
    background: #FFFFFF;
    border-bottom: 1px solid #5B5B5B;  
}
header>div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 122px;
}
.middle>input{
    width: 566px;
    height: 51px;
    margin: 0 50px 0 0;
    border: 1px solid #B4B4B4;
    border-radius: 13px;padding:0 28px ;
}
.first>button{
    background: none;
    border: none;
    display: flex;
    align-items: center;
}
.first>button>div{
    border-left: 1px solid #FF0000;
    width: 62px;
    height: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    padding: 0 13px 0;
}
.first>button>p{
    font-size: 18px;
}
.first>button>div>span{
    width: 16px;
    height: 16px;
    border: 2px solid #FF0000;
    border-radius: 4px;
    content: '';padding: 6px;
}
.middle>button{
    color: #fafafa;
    border: none;
    background: #FF0000;
    border-radius: 10px;
    padding: 13px 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle>button>img{
    margin: 5px;
}
.last>p{
    border: 2px solid #FF0000;
    border-radius: 50%;
    display: inherit;
    width: 33px;
    height: 33px;
    align-items: center;
    justify-content: center;
}
.last>button{
    background: none;
    border: none;
}
footer{
    position: relative;
    display: flex;
    min-height: 500px;
    justify-content: space-around;
    align-items: center;
    padding:50px  150px 150px;
    color: #fafafa;
    width: 100%;
    background: #343434;
}
.footer_first{
    max-width: 225px;
}
.footer_last{
    width: 225px;
    height: 225px;
    background: #FF0000;
}
footer>img{
    position: absolute;
    bottom: 10px;
    border: none;
    border-radius: 15px;
}
footer>p{
    position: absolute;
    bottom: 0px;
    border: none;
    width: 100%;
    border-top: 1px solid #fafafa;
    color: #fafafa;
    text-align: end;
    font-size: 11px;
    padding: 5px;
}
.main_page>section>section{
    min-height: 800px;
}
.main_page>section>div{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #EBEBEB;
    background: #5B5B5B;
    border: 1px solid #A4A4A4;
    border-radius: 25px;
    padding: 20px;
    width: 60%;
    left: 20%;
}
.first_section{
    background: #fafafa;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 33px;
    padding:84px 150px 200px;
}
.first_section>div{
    border: 1px solid #A6A6A6;
    border-radius: 25px;
    padding: 20px;
}
.second_section{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #EBEBEB;
    padding:200px 150px 84px;
}
.second_section>button{
    background: #FF0000;
    border-radius: 15px;
    font-size: 20px;
    border: none;
    color: #fafafa;
    font-weight: 800;
    padding:30px 40px;
    margin: 30px 0 0;
}
.second_section>h1{
    width: 80%;
    font-weight: 700;
    font-size: 40px;
}
.second_section>div{
    display: flex;
    width: 90%;
    justify-content: space-between;
}
.second_section>div>div{
    background: #fafafa;
    width: 300px;
    height: 500px;
}
.third_section{
    background: #fafafa;
}
.cart_content{
    padding: 100px 190px;
    min-height: 840px;
}
.cart_content>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart_content_header{
    margin: 0 0 60px;
    align-items: center;
    justify-content: space-between;
}
.cart_content_header>h1{
    font-size: 40px;
    font-weight: 800;
}
.cart_content_header>img{
    border-radius: 15px;
    border: 1px solid #F00;
}
.cart_content_body>div{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0 124px;
}
.cart_content_body>div>span{
    display: inherit;
    align-items: center;
    justify-content: center;
    left: 50px;
    color: #F00;
    font-size: 20px;
    width: 62px;
    height: 62px;
    font-weight: 500;
    position: absolute;
    border-radius: 15px;
    border: 1px solid #F00;
}
.cart_content_item>div{
    display: flex;
    width: 900px;
    border-radius: 7px;
    border: 1px solid #BDBDBD;
    justify-content: space-between;
    padding: 26px 36px;
    margin: 0 0 13px;
}
.cart_content_item>div>p{
    font-size: 24px;
    font-weight: 600;
}
.cart_content_item>div>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart_content_item>div>div>input{
    height: 50px;
    border-radius: 4px;
    border: 1px solid #BDBDBD;
    margin:0 15px 0 20px;
    text-align: center;
}
.cart_content_item>div>div>span{
    color: #5B5B5B;
    font-size: 24px;
    font-weight: 600;
    width: 50px;
    height: 50px;border-radius: 4px;
    border: 1px solid #BDBDBD;
    display: inherit;
    align-items: center;
    justify-content: center;
}
.cart_content_item>div>div>p{
    font-size: 24px;
    font-weight: 500;
}

.cart_content_body>div:last-child{
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #B3B3B3;  
    padding:40px 30px 20px;
}
.cart_content_body>div:last-child>input{
    width: 275px;border: 1px solid #B3B3B3;
    padding: 7px;
    margin: 0 0 15px;
}
.cart_content_body>div:last-child>textarea{
    width: 275px;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    resize: none;
    padding: 8px;
    margin: 0 0 15px;
}
.cart_content_body>div:last-child>p{
    text-align: left;
    width: 275px;
    margin: 0 0 15px;
}
.cart_content_body>div:last-child>button{
    border-radius: 5px;
    border: none;
    padding: 7px 0;
    width: 275px;
    background: #F00;
    color: #EBEBEB;
}
.min_footer{
    min-height: 0;
    
    padding: 0;
}
.min_footer>img{
    
    border: 1px solid #B3B3B3;
    z-index: 2;
}
.min_footer>p{
    position: absolute;
    bottom: 0px;
    border: none;
    width: 100%;
    border-top: 1px solid #B3B3B3;
    color: #B3B3B3;
    text-align: end;
    font-size: 11px;
    padding: 5px;
}
.contacts_content{
    min-height: 840px;
    padding: 105px 190px;
}
.contacts_content>h1{
    
font-size: 40px;font-weight: 800;
}
.contacts_content>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.contacts_content>div>.footer_middle{
    border-radius: 0;
    border: 1px solid #292929;
}
.contacts_content>div>.footer_first>div>p{
    font-size: 20px;
    font-weight: 700;
}