*{
    margin: 0;
    box-sizing: border-box;
}
.login_page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #292929;
    color: white;
}
.login_page>div{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.login_page>div>form{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}
.login_page>div>form>input{
    margin: 0 0 20px;
    min-height: 24px;
    font-size: 20px;
    border-radius: 8px;
    padding: 5px 10px;
    min-width: 250px;
}
.login_page>div>form>button{
    min-height: 24px;
    border-radius: 8px;
    font-size: 24px;
    min-width: 250px;
}
.login_page>div>h1{
    font-size: 36px;
    margin: 0 0 20px;
}
.not_found{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fafafa;
    background: #313131;
    align-items: center;
    justify-content: center;
}
.admin_item_panel{
    position: absolute;
    top:0;
    z-index: 2;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background: #313131;
    color: #fafafa;
    padding: 30px;
    font-size: 22px;
}
.admin_item_panel>.admin_exit_button{
    position: absolute;
    top:25px;
    right:120px;
}
.admin_item_panel>input{
    width: 30%;
    margin: 10px;
}
.admin_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 25%;
    padding: 0 0 15px;
    border: 1px solid #313131;
}
.admin_content>div{
    margin: 5px;
    padding: 10px;
    font-size: 22px;
}
.admin_content>div>button{
    margin: 10px;
    border-radius: 8px;
    font-size: 26px;
}
.admin_content>div>button.active{
    color: #fafafa;
    background: #313131;
}
.admin_content_tags{
    background: #313131;
    color: white;
}
.admin_content>div>div{
    display: flex;
    align-items: center;
}
.admin_content>div>div>button{
    font-size: 20px;
    border-radius: 8px;
    margin: 0 5px;
}
.admin_content>div>div>p{
    min-width: 100px;
}
.admin_header_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.admin_header_buttons>button{
    margin: 10px;
    border-radius: 8px;
    font-size: 26px;
}
.admin_exit_button{
    margin: 10px;
    border-radius: 8px;
    font-size: 26px;
}